<div #parentContainer class="ds-container">
    <!-- Left panel -->
    <div #leftPanel class="ds-left-panel">
        <app-tree-nodes></app-tree-nodes>
    </div>

    <!-- Middle split bar -->
    <div #gutter class="gutter"></div>

    <!-- Right panel -->
    <div #rightPanel class="ds-right-panel">
        <div class="form-inline">
            <app-text-filter class="center-horizontal" style="padding-top: 10px"></app-text-filter>
            <div class="shopping-cart-container">
                <app-shopping-cart></app-shopping-cart>
                <!--<button class="btn btn-default btn-lg btn-link shopping-cart-button">-->
                    <!--<span class="fa fa-shopping-cart fa-4x"></span>-->
                <!--</button>-->
                <!--<span class="badge badge-notify">{{dataService.getShoppingCartItemsCount()}}</span>-->
            </div>
        </div>
        <app-checkbox-filter></app-checkbox-filter>
        <app-item-table></app-item-table>
    </div>
</div>

