<div #parentContainer class="ds-container">
    <!-- Left panel -->
    <div #leftPanel class="ds-left-panel">
        <app-tree-nodes></app-tree-nodes>
    </div>

    <!-- Middle split bar -->
    <div #gutter class="gutter"></div>

    <!-- Right panel -->
    <div #rightPanel class="ds-right-panel">
        <div class="form-inline">
            <app-text-filter class="center-horizontal" style="padding-top: 10px"></app-text-filter>
            <div class="shopping-cart-container">
                <app-shopping-cart></app-shopping-cart>
            </div>
        </div>
        <app-item-summary></app-item-summary>
        <app-checkbox-filter></app-checkbox-filter>
        <app-item-table></app-item-table>
    </div>
</div>

