<div class="filter-container">
    <p-panel [toggleable]="true">
        <p-header class="filter-container-header">
            <button type="button" class="btn btn-primary-outline" (click)="clearFilters();">
                <span class="fa-stack">
                    <i class="fa fa-filter fa-stack-1x"></i>
                    <i class="fa fa-ban fa-stack-2x"></i>
                </span>
                Clear filters
            </button>
        </p-header>

        <app-text-filter></app-text-filter>
        <app-checkbox-filter></app-checkbox-filter>
    </p-panel>
</div>
