<div [@notifyState]="dataService.loadingTreeNodes">

    <!-- the search/filter input -->
    <div class="ds-tree-filter-input">
        <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
    <p-autoComplete #autocomplete [(ngModel)]="searchTerm"
                    styleClass="ds-tree-filter-input"
                    placeholder="Filter tree nodes"
                    (onClear)="onFiltering($event)"
                    (completeMethod)="onFiltering($event)"></p-autoComplete>
        <button pButton type="button" class="btn btn-default btn-circle btn-lg" (click)="clear($event)"
                icon="fa fa-times"></button>
    </div>
    <!-- the tree itself -->
    <p-tree [value]="treeNodes"
            selectionMode="single"
            (onNodeExpand)="expandNode($event)"
            [(selection)]="selectedNode"
            (onNodeSelect)="selectNode($event)"
            styleClass="ds-tree-container"></p-tree>

    <!-- the spinning icon -->
    <i class="fa fa-spin fa-refresh fa-fw ds-spinner"
       [class.loading]="dataService.loadingTreeNodes == 'loading'"></i>
</div>
