<div [@notifyState]="registryService.loadingTreeNodes">

    <!-- the search/filter input -->
    <p-autoComplete [(ngModel)]="searchTerm"
                    styleClass="ds-tree-filter-input"
                    placeholder="Filter tree nodes"
                    (onClear)="onFiltering($event)"
                    (completeMethod)="onFiltering($event)"></p-autoComplete>

    <!-- the tree itself -->
    <p-tree [value]="treeNodes"
            selectionMode="single"
            (onNodeExpand)="expandNode($event)"
            [(selection)]="selectedNode"
            (onNodeSelect)="selectNode($event)"
            styleClass="ds-tree-container"></p-tree>

    <!-- the spinning icon -->
    <i class="fa fa-spin fa-refresh fa-fw ds-spinner"
       [class.loading]="registryService.loadingTreeNodes == 'loading'"></i>
</div>
