.checkbox-filter-container {
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
}

.ds-data-format-item {
    background-color: transparent;
    border: none;
    /* padding: top right bottom left */
    padding: 2px 6px 2px 25px;
}

