<div class="checkbox-filter-container">

    <p-panel [toggleable]="true">
        <div class="ui-g">
            <div class="ui-g-4">
                <p-fieldset legend="Keywords">
                    <p-listbox [options]="keywords" [(ngModel)]="selectedKeywords" [filter]=true [multiple]=true
                               [checkbox]=true [metaKeySelection]=false (onChange)="updateFilters()"></p-listbox>
                </p-fieldset>
            </div>
            <div class="ui-g-4">
                <p-fieldset legend="Projects">
                    <p-listbox [options]="projects" [(ngModel)]="selectedProjects" [filter]=true [multiple]=true
                               [checkbox]=true [metaKeySelection]=false (onChange)="updateFilters()"></p-listbox>
                </p-fieldset>
            </div>
            <div class="ui-g-4">
                <p-fieldset legend="Research lines">
                    <p-listbox [options]="researchLines" [(ngModel)]="selectedResearchLines" [filter]=true [multiple]=true
                               [checkbox]=true [metaKeySelection]=false (onChange)="updateFilters()"></p-listbox>
                </p-fieldset>
            </div>
        </div>
    </p-panel>

</div>
