{{items}}
<div class="item-table-container">

    <p-panel [toggleable]="true">

        <p-dataTable #dt
                     [value]="getItems()"
                     [rows]="10" [paginator]="true">
            <p-column field="name" header="Name"
                      [sortable]="true">
            </p-column>

            <p-column field="description" header="Description"
                      [sortable]="true">
            </p-column>

            <p-column field="project" header="Project"
                      [sortable]="true">
            </p-column>

            <p-column field="researchLine" header="Research Line"
                      [sortable]="true">
            </p-column>

        </p-dataTable>

    </p-panel>

</div>
