<div class="item-table-container">

    <p-panel [toggleable]="true">

        <p-dataTable #dt
                     [value]="items"
                     [rows]="10" [paginator]="true">
            <p-column field="itemName" header="Name"
                      [sortable]="true">
            </p-column>

            <p-column field="itemDescription" header="Description"
                      [sortable]="true">
            </p-column>

            <p-column field="itemProject" header="Project"
                      [sortable]="true">
            </p-column>

            <p-column field="itemResearchLine" header="Research Line"
                      [sortable]="true">
            </p-column>

        </p-dataTable>

    </p-panel>

</div>
