.item-table-container {
    margin-left: 10px;
    padding: 10px;
}

.form-inline {
    margin: 5px;
}

.fa-plus{
    color: white;
}

.export-button {
    margin-top: 5px;
}

.global-filter {
    margin: 5px;
}

.inline {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

.item-count-container {
    float:right;
    padding-right: 0;
}
